<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= message %></h1> 
    <div id="display_container">
        <h2>Pseudo :<%= display[0].user_pseudo %></h2>
        <h2>Nom: <%= display[0].user_name %></h2>
        <h2>Prenom: <%= display[0].user_lastname %></h2>
        <h2>Telephone: <%= display[0].user_tel %></h2>
        <h2>Age: <%= display[0].user_age %></h2>
        <h2>Taille: <%= display[0].user_taille %> cm</h2>
        <h2>Poids: <%= display[0].user_poids %> kg</h2>
        <h2>Objectif: <%= display[0].user_objectif %> kg</h2>
   </div>
   <script>
        
   </script>
</body>
</html>